
    

/* 
*	=================================================================================================================================================
*	GENERATED CSS FILE
*	=================================================================================================================================================
*/


.mes_more_btn:hover {color:#ffc301;border-bottom: 2px solid #ffc301;}
.mes_header_menu>li {background: #303030; }

h1, h2, h3, h4, h5, h6:not(.mes_blog_legend_descr) {
	font-family: raleway;}

.mes_top_header .menu li a:hover, .mes_socials_holder a:hover i  {color:#ffc301 !important}

.ubermenu-sticky-wrapper, .ubermenu.ubermenu-main, .eg-mesto-main-colored-container, .esg-overlay.eg-mesto-main-twitter-container {background:#ffc301!important}
.mes-search-submit {background-color:#444 ;}
.mes-search-submit:hover {background-color:rgba(66,66,66,0.5) ;}
.mes_pstyle_3 .mes_date {background: #ffc301 }

.woocommerce input.button, #place_order, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button {background:#ffc301!important} 
.summary .price .amount {color:#ffc301 !important;}
.woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover {background:#ffc301 !important;}


.esg-navigationbutton.esg-loadmore {background: #ffc301 !important }
a:hover {color:#ffc301;}
.richard-skin .esg-navigationbutton:hover, .richard-skin .esg-filterbutton:hover, .richard-skin .esg-sortbutton:hover, .richard-skin .esg-sortbutton-order:hover, .richard-skin .esg-cartbutton-order:hover, .richard-skin .esg-filterbutton.selected,
.mes_soc_icons .soc_round:hover {border: 2px solid #ffc301 !important}
.eg-mestowabo-pricing-element-4 {background:#ffc301!important}
.mes_menu_content_holder > ul > li > a:after, .mes_footer_header p:after {background:#ffc301 !important}
.mes-line {background:#ffc301!important}
#menu-footer > li > a:after {background: #ffc301 }
.mes_footer_holder a:hover {color:#ffc301 !important;}
.cbutton {color:#ffc301 !important;}
.cbutton--effect-radomir::after {box-shadow: inset 0 0 0 35px #ffc301;}
.mes_post_share_icons a {background:#ffc301}


/*uber menu */
.ubermenu>ul>li { background:#ffc301 !important}

.woocommerce-product-search input[type="submit"] { background:#ffc301}
.cart_list.product_list_widget .remove:hover { background:#ffc301}
.cart_list.product_list_widget .remove { color:#ffc301 !important}


.mes_display-posts-listing .mes_title h5:hover { color:#ffc301 !important}

.mesto-main .esg-filterbutton.selected span { color:#ffc301 !important}
h6,.mes_menu_content_holder > ul > li:hover > a {color:#ffc301}
.widget_price_filter .ui-slider .ui-slider-range, .eg-mestowabo-simple-shop-element-21, .eg-mestowabo-pricing-element-9 { background:#ffc301 !important}
.btn:hover,.shop-item-number, .widget_price_filter .ui-slider .ui-slider-range { background:#ffc301}
.richard-skin .esg-filter-checked, .richard-skin-right .esg-navigationbutton:hover, .richard-skin-right .esg-filterbutton:hover, .richard-skin-right .esg-sortbutton:hover, .richard-skin-right .esg-sortbutton-order:hover, .richard-skin-right .esg-cartbutton-order:hover, .richard-skin-right .esg-filterbutton.selected
 {color:#ffc301 !important}
.mes_box .icon_holder, .mes_box_ii .icon_holder_ii {background:#ffc301}
h5.mes_port_date, .footer-main a:hover  {color:#ffc301 !important}
.mes_readmore_btn {color:#ffc301}
blockquote p:after {color:#ffc301}
blockquote:before  {color:#ffc301}
.mes_header_menu > li:hover > .my_drop .current-menu-item a {color:#ffc301}
.colored { color:#ffc301}
.mes_blog_meta a:hover {color:#ffc301}
.mes_menu_content_holder > ul > li.current-menu-item > a, .mes_menu_content_holder > ul > li.current-menu-parent > a{ color:#ffc301 !important; }
.header_menu > li:hover > .my_drop .current-menu-item a {color:#ffc301!important;}
.header_menu > li.current-menu-ancestor > a {color:#ffc301!important;}
.mes_top_header .mes_widget a:hover {color:#ffc301 !important;}
.filter_button:hover {color:#ffc301; text-decoration:none;}
.filter_current { color:#ffc301; }
.mes-ribbon { background:#ffc301 !important; }
.woocommerce span.onsale { background:#ffc301 !important; }
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price { color:#ffc301 !important; }
.cart_product_count { background:#ffc301}
.filter_current:hover { color:#ffc301; text-decoration:none;}
.mes_load_more:hover,.search-section i:hover,.chart-section i:hover, #searchform #searchsubmit { background:#ffc301;}
.list-star li:before {color:#ffc301}
.wpcf7-submit:hover { background:#ffc301; }
.wpcf7-validation-errors, .wpcf7-mail-sent-ok { background:#ffc301;}
.mes_news_title a:hover { color:#ffc301; }
.mes_widget .current-menu-item a { color:#ffc301 !important}
.mes_widget ul:not(#cbox) li a:hover {  color:#ffc301;}
.mes_widget ul:not(#cbox) li a:hover:before{	color:#ffc301;}
.mes_widget .menu li li.current_page_item a, .esg-navigationbutton:hover i
 { color:#ffc301 !important}
h3.mes_blog_post_title a:hover { color:#ffc301; }
#wp-calendar a { color:#ffc301}
#wp-calendar caption { color:#ffc301}
.mes_tweet a:hover { color:#ffc301;}
.mes_tweet_time > a.twitter_time { color:#ffc301; }
.tagcloud a:hover { color:#ffc301; }
.fn a, .mes_commente_holder h4 a { color:#ffc301}
.mes_ticket_commentlist .comment-author  .fn{ color:#ffc301;}
.mes_ticket_commentlist .comment-body .reply .comment-reply-link { color:#ffc301; }
.mes_ticket_commentlist > li > .comment-body .reply .comment-reply-link { color:#ffc301;}


@media (min-width: 0px) and (max-width: 767px) {
.head-right-side {background: }
}


.mes_blog_post_title_inner h4:before  { display:inline-block; content:'//'; color:#ffc301; margin-right:5px;}
.io_widget_title:before  { display:inline-block; content:'//'; color:#ffc301; margin-right:5px;}






















